<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<img src="https://i.pinimg.com/236x/d8/82/59/d88259a42fcc6ee481c879e05b5ff465--business-headshot-ideas-woman-profile-picture-professional.jpg" alt="photo of mary" />
<h1>mary jones</h1>
<body>
<p1>hello,my name is mary.
    i am interesting in learning computer skills.
i am trying to get a better job.
    I want to improve my life.
I was working as a secretary.  I want to move into something better.</p1>
</body>
</html>