<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<img src = "https://cdn7.dissolve.com/p/D430_49_185/D430_49_185_1200.jpg" alt = "photo of phil" />
<h1>phil heather</h1>
<body>
<p1>Hello, my name is phil.
    I was working as a laborer.
    I am interested in learning skills to get a better job.
    I like to do interesting things.
I am interested in the field.
Montgomery college offers a tuition free program.  I thought i would look into it.
Then when i heard that it was a good quality program i decided to try it.
I was glad i did because i learned a lot of skills.  I am interested in upgrading my skills.
I was tired of doing physical workd.  I want to use my mind and do something intellectual.  I was
surprised that i could learn new concepts.  I surprised myself in that.  I look forward to learn new skills
</p1>
</body>
</html>